/**********
 * Stylesheet
 *********/

/**
 * document
 */
*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

body
{
	font: 12pt 'Cabin';
	font-weight: 200;
	color: #555555;
}


/**
 * content
 */
canvas#game
{
	width: 100%;
	height: 100%;
	display: block;

	color: #AAAAAA;
	background: #333333 none;
	text-align: center;

	z-index: -1;
}

#title-wrapper
{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.35);
	text-align: center;

	z-index: 10;
}

	#title
	{
		width: 540px;
	    height: 380px;
	    position:absolute;

	    left: 50%;
	    top: 50%;

	    margin: -240px 0 0 -320px;
	    padding: 50px 50px 50px 50px;

		color: #555555;
		background-color: #FFFFFF;
		border-radius: 5px;
	}

	#status
	{
		height: 125px;
		margin-top: 50px;
		margin-bottom: 75px;
	}

	form#login
	{
	}

		form#login input
		{
			width: 150px;
			height: 15px;

			margin: 0px 10px 5px 10px;
			padding: 5px;

			font-size: 10pt;

			border: 5px solid #EEEEEE;
			background-color: #FFFFFF;

			-webkit-appearance: none;
		}

			form#login input:hover
			{
				border-color: #CCCCCC;
			}

			form#login input:focus
			{
				border-color: #CCCCCC;
				outline: none;
			}

		form#login input[type=submit]
		{
			width: 170px;
			height: 30px;

			margin-top: 10px;

			color: #FFFFFF;
			border: 0;
			background-color: #555555;
		}

			form#login input[type=submit]:hover
			{
				background-color: #333333;
			}

			form#login input[type=submit]:focus
			{
				background-color: #333333;
			}

/**
 * text
 */
h1
{
	color: #222222;
	font-weight: 100;
	font-size: 36pt;
}

h2
{
	color: #222222;
	font-weight: 100;
	font-size: 18pt;
}

small
{
	font-size: 10pt;
}

a
{
	color: #888888;
}

	a:hover
	{
		color: #333333;
	}


/**
 * animations
 */
a, a *
{
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

input
{
	-webkit-transition: border-color .2s;
	-moz-transition: border-color .2s;
	-ms-transition: border-color .2s;
	-o-transition: border-color .2s;
	transition: border-color .2s;
}

input[type=submit]
{
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}


/**
 * fonts
 */
@font-face
{
	font-family: 'Cabin';
	src: url('font_Cabin.otf');
	font-weight: 400;
}

@font-face
{
	font-family: 'Cabin';
	src: url('font_Cabin Medium.otf');
	font-weight: 500;
}


/**
 * misc shit
 */
